@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
.side-button {
    position: fixed;
    top: 1em;
    right: 1.5em;
    font-size: 3em;
    background: transparent;
    border-color: transparent;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.side-button:hover {
    color: hsl(205, 90%, 76%);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
.side-menu{
    width: 400px;
    height: 100vh;
    transition:all 0.3s linear; 
    translate:-400px;
}
.show{
    translate: 0px;
}
.options{
    width:100%;
    height:50%;
    display: flex;
    flex-direction: column;
}
.main-title{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-size: x-large;
    padding-right: 25px;
    padding-left: 25px;
}
.title{
    letter-spacing: 4px;
    font-weight: 700;
    text-shadow: 0px 2px 8px #646464;
}
.title span{
    color:hsl(205, 78%, 60%) ;
}
.close{
    height: fit-content;
    color: hsl(360, 67%, 44%);
    background: none;
    border: none;
    font-size: 3rem;
    transition: all 0.3s linear;
}
.option{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 2.4em;
    padding-left: 25px;
    color: #646464;
    transition: all 0.3s linear;
}
.option:hover{
    background-color: hsl(205, 90%, 76%);
    color:hsl(205, 78%, 60%);
    padding-left:28px;
}
.close:hover{
    transform: rotate(360deg);
    color: hsl(360, 71%, 66%);;
}
.icons{
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    top:38%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: hsl(205, 78%, 60%);
    
}
.icons i{
    margin-left: 15px;
}